<!DOCTYPE html>
<html>
<head>
  <title>WhisperFade</title>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
  <input id="msgInput" placeholder="Type your message..." />
  <button onclick="sendMessage()">Send</button>
  <div id="chatBox"></div>

  <script>
    const socket = io();
    const chatBox = document.getElementById('chatBox');

    function sendMessage() {
      const msg = document.getElementById('msgInput').value;
      socket.emit('send_message', { message: msg });
      document.getElementById('msgInput').value = '';
    }

    socket.on('new_message', data => {
      const msg = document.createElement('div');
      msg.id = data.id;
      msg.innerText = data.message;
      chatBox.appendChild(msg);

      // Simulate seen after 5 sec
      setTimeout(() => {
        socket.emit('seen', { id: data.id });
      }, 5000);
    });

    socket.on('delete_message', data => {
      const msg = document.getElementById(data.id);
      if (msg) msg.remove();
    });
  </script>
</body>
</html>
